@media screen and (max-width: 1400px) {
  .topPartNavbar {
    justify-content: end;
  }
}
@media screen and (max-width: 1185px) {
  .navbarItemPDF span {
    display: none;
  }
  .topPartNavbar {
    padding-right: max(10px, 20% - 150px);
  }
  footer .mainFooter {
    padding: 30px 100px;
  }
}
@media screen and (max-width: 1024px) {
  .topPartNavbar {
    justify-content: end;
    padding-right: 20px;
    position: relative;
  }
  .topPartNavbar .navbarItemPDF {
    margin-right: 30px;
  }
  .topPartNavbar .navbarItemPDF span {
    margin-left: 10px;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .topPartNavbar .navbarToggle {
    display: inline-block;
    cursor: pointer;
  }
  .topPartNavbar .navbarToggle .bar {
    width: 40px;
    height: 5px;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    display: block;
    border-radius: 3px;
  }
  .topPartNavbar #mobileMenu.isActiveMenu .bar:nth-child(2) {
    opacity: 0;
  }
  .topPartNavbar #mobileMenu.isActiveMenu .bar:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
  }
  .topPartNavbar #mobileMenu.isActiveMenu .bar:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
  }
  .topPartNavbar .menu {
    width: 100vw;
    height: 100%;
  }
  .topPartNavbar .navbarMenu {
    z-index: -1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    transition: all 0.3s;
    height: auto;
  }
  .topPartNavbar .navbarMenu .navbarItemPDF {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5%;
    height: 100%;
  }
  .topPartNavbar .navbarMenu .navbarItemPDF img {
    margin-right: 12px;
  }
  .topPartNavbar .navbarMenu .navbarItemPDF span {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
  }
  .topPartNavbar .navbarMenu .navbarItem {
    margin: 0;
    width: 100%;
    height: 50px;
    font-weight: 700;
    border-bottom: 1px solid #252525;
  }
  .topPartNavbar .navbarMenu .navbarItem:hover {
    background: #252525;
  }
  .topPartNavbar .navbarMenu .navbarItem:last-of-type:hover {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .topPartNavbar .navbarMenu.activeMenu {
    width: 100%;
    background-color: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.3s;
    z-index: 900;
    height: auto;
    font-size: 1.4rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .bottomNavbarContr {
    padding: 5px 3%;
    height: auto;
  }
  .bottomNavbarContr .clockIconContr {
    display: none;
  }
  .bottomNavbarContr p {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
  }
  .sliderContr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
  }
  .sliderContr .sliderImgsContr {
    height: 60%;
  }
  .sliderContr .sliderModalContr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    top: 60%;
    transform: translate(0, 0);
    background: #000;
    text-align: center;
    padding: 0 100px;
    text-align: center;
  }
  .sliderContr .sliderModalContr h1 {
    width: 50%;
    font-size: 38px;
  }
  .sliderContr .sliderControlsContr {
    bottom: 45%;
  }
  .section1 {
    padding-top: 0;
    flex-direction: column;
    padding: 0 50px;
  }
  .section1 .section1LeftSideContr {
    width: 100%;
    padding: 0;
    order: 2;
    text-align: center;
    margin: 30px 0;
  }
  .section1 .section1LeftSideContr h1 {
    margin-bottom: 10px;
  }
  .section1 .section1LeftSideContr p {
    line-height: 30px;
  }
  .section1 .section1LeftSideContr .section1BtnsContr {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section1 .section1LeftSideContr .section1BtnsContr button {
    margin: 40px 10px;
  }
  .section1 .section1RightSideContr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    order: 1;
  }
  .section1 .section1RightSideContr .mainImgContr {
    width: 100%;
  }
  .section1 .section1RightSideContr .mainImgContr .section1MainImg {
    width: 100%;
    height: 100%;
  }
  .section1 .section1RightSideContr .imgCollageContr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .section1 .section1RightSideContr .imgCollageContr div {
    width: 30%;
  }
  .section1 .section1RightSideContr .imgCollageContr div img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section2 {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .section2 .section2LeftSideContr {
    padding: 100px 100px;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .section2 .section2LeftSideContr h1 {
    text-wrap: wrap;
  }
  .section2 .section2LeftSideContr ul {
    text-align: start;
  }
  .section2 .section2LeftSideContr button {
    align-self: center;
  }
  .section2 .section2RightSideContr {
    width: 100%;
  }
  .section3 .section3TextContr {
    padding: 80px 100px;
    text-align: center;
  }
  .section3 .section3CollageContr {
    width: 100%;
    flex-wrap: wrap;
  }
  .section4 .section4Top {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .section4 .section4Top .section4TopLeft {
    width: 100%;
    order: 2;
  }
  .section4 .section4Top .section4TopRight {
    width: 100%;
    order: 1;
    align-items: center;
    padding: 100px 50px;
    text-align: center;
  }
  .section4 .section4Top .section4TopRight h2 {
    width: 80%;
    margin-bottom: 40px;
  }
  .section4 .section4Top .section4TopRight h4 {
    width: 80%;
    margin-bottom: 40px;
  }
  .section5 .section5TopContr {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .section5 .section5TopContr .section5TopLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 40px;
  }
  .section5 .section5TopContr .section5TopLeft img {
    width: 100%;
    height: 100%;
  }
  .section5 .section5TopContr .section5TopRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 100px 0 50px 0;
  }
  .section5 .section5TopContr .section5TopRight h2 {
    width: 70%;
    text-wrap: wrap;
    margin-bottom: 70px;
  }
  .section5 .section5MiddleContr {
    width: 100%;
    flex-direction: column;
    gap: 0;
  }
  .section5 .allAchievementsContr {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .section5 .section5BottomContr .carouselContr .cardCarouselContr .carouselCard.active {
    height: auto;
    padding: 10px 0;
  }
  .section5 .section5BottomContr .carouselContr .cardCarouselContr .carouselCard.active .personName {
    margin-top: 5%;
  }
  footer .mainFooter .rightFooterSection {
    flex-direction: column;
  }
  footer .mainFooter .rightFooterSection span {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .navbar .bottomNavbarContr {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
  }
  .navbar .bottomNavbarContr .darkModeContr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 10px 0;
  }
  .navbar .bottomNavbarContr .darkModeContr .switch {
    margin: 0;
  }
  .section5 .section5BottomContr .carouselContr .cardCarouselContr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section5 .section5BottomContr .carouselContr .cardCarouselContr .mainCardElementsContr {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    margin-top: 5%;
  }
  .section5 .section5BottomContr .carouselContr .cardCarouselContr .mainCardElementsContr button.arrows {
    width: 50px;
    height: 50px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    transform: translate(0, 0);
  }
  .section5 .section5BottomContr .carouselContr .cardCarouselContr .mainCardElementsContr button.arrows img {
    width: 100%;
    height: 100%;
  }
  .section5 .section5BottomContr .carouselContr .cardCarouselContr .mainCardElementsContr .navodnici {
    display: none;
  }
  .section5 .section5BottomContr .carouselContr .cardCarouselContr .carouselCard.prev, .section5 .section5BottomContr .carouselContr .cardCarouselContr .carouselCard.next {
    display: none;
  }
  .section5 .section5BottomContr .carouselContr .cardCarouselContr .carouselCard.active {
    width: 90%;
    height: auto;
    padding: 10px 40px;
    border-radius: 15px;
  }
  .section5 .section5BottomContr .carouselContr .cardCarouselContr .carouselCard.active .personName {
    margin-top: 5%;
  }
  footer .mainFooter {
    flex-direction: column;
    text-align: center;
  }
  footer .mainFooter .leftFooterSection tr {
    justify-content: center;
  }
  footer .mainFooter .leftFooterSection tr td:first-of-type {
    display: none;
  }
  footer .mainFooter .middleFooterSection {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin: 40px 0;
  }
  footer .mainFooter .rightFooterSection .rightFooterImgContr {
    margin-top: 10px;
    gap: 13%;
  }
  footer .bottomFooter {
    height: auto;
    flex-direction: column;
    padding: 20px 0;
    line-height: 30px;
  }
}/*# sourceMappingURL=mobile.css.map */